@charset 'UTF-8'; /* 文字コードの指定 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

/* Base
------------------------------------------------------------*/



html {
    font-size: 62.5%;
   max-width: initial;
   color: #494947;
}

body {
    font-family: 'Cormorant Garamond', serif 'Roboto' , sans-serif , 'Noto Sans JP', '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
}
@media(max-width :768px){
body {
  font-size : 10px;
  line-height : 13px;
}
}

a {
    text-decoration: none;
    cursor: pointer !important;
}



img {
    max-width: 100%;
    height: auto;
}


/*header
-------------------------------------------------------------*/
@media(max-width :768px){
  .pc{
   display : none;
  }
  }
  
.pc-header {
  width : 100%;
  position : fixed;
  padding-top :0;
  z-index : 100;
}
@media(max-width :768px){
  .pc-header{
   display : none;
  }
  }
  



  .masthead {
    display : flex;
    align-items : center;
    justify-content : space-between;
    background-color : #123c29 ;
    height : 70px;
}

.top-name {
    font-family: 'Cormorant Garamond', serif 'Roboto', sans-serif , 'Noto Sans JP', '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    margin-left : 45px;
    color: #fff;
}

.nav {
    width : 40%;
    margin-right: 45px ;
}

.nav-li {
    list-style : none;
    display : flex;
    align-items : center;
    justify-content : space-between;
}

.nav-a {
  color: #fff;
font-size : 18px;
}

.header-img img {
  width :100%;
  height : 400px;
  object-fit : cover;
}


.header-img {
  position : relative;
}

@media(max-width : 768px){
.header-img {
  position: static;
}
}

.catch {
  color :#123c29 ;
  position :absolute;
  top: 200px;
  left : 45px;
  font-size : 40px;
  border-bottom : 1px solid #123c29;
}


@media(max-width : 768px){
  .catch{
   top: 100px;
    left: 20px;
    line-height: 50px;
    right: 20px;
  }
}


@media(min-width : 769px){
  .sp-header{
    display : none;
  }
}


@media(min-width : 769px){
  .sp-nav{
    display : none;
  }
}




/* body
--------------------------------------------*/
.body {
  background-color: #FAF3DD;
}

.text-center {
    text-align : center;
}
@media(min-width :769px){

.text-center {
  font-size :15px;
}
}

.section-heading {
    margin-top : 150px;
    font-size: 40px;
    color: #123c29;
}

.page-section {
  margin: 0 auto;
}
@media(max-width : 768px){
  .page-section {
  margin: 0 20px;
}
}


/*about
--------------------------------------------*/

.carrer {
    margin: 50px auto;
    padding : 20px;
    border : 1px solid;
    
}

.prof-image img {
    border-radius : 50%;
    width :200px;
    height : 200px;
    margin-right : 30px;
}

@media(max-width : 768px){
.prof-image img{
    width :150px;
    height : 150px;
    margin-right : 0;
}
}



.profile-wrap {
    display : flex;
    align-items : center;
    justify-content : center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width : 768px){
.profile-wrap {
    display : block;
}
}

.prof {
 width : 50%;
    margin-left : 30px;
    text-align : left;
    line-height: 35px;
font-size : 18px;
}

@media(max-width : 768px){
.prof {
 width:100%;
font-size : 12px;
    line-height: 15px;
    margin-left : 0;
}
}

/*skill
-------------------------------------------*/
.section-skill{
max-width :1200px;
}
.skill-flex {
    display : flex;
    align-items : start;
    justify-content :center;
    flex-wrap : wrap;
}

  
.skill-wrap {
    text-align : center;
    width : 33%;
    padding : 20px 30px;
    box-sizing : border-box;
}

@media(max-width : 768px){
  .skill-wrap {
    width : 50%;
  padding : 0 15px;
  }
}

/*portfolio
-------------------------------------------*/


.portfolio-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width : 768px){
   .portfolio-flex{
display: block;
}
}

.flex-wrap{
  width  : 50%;
}
@media(max-width : 768px){
.flex-wrap{
  width  : 100%;
  
}
.portfolio-wrap{
  margin-top : 30px;  
}

}

/* 全体設定 */
* {
  box-sizing: border-box;
  }

/* ポップアップウインドウの設定 */
.popup {
  background-color:#e9e4e1;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70vw;
  height: 55vw;
  overflow-y: scroll;
  z-index : 10000;
}
.popup2 {
  background-color:#e9e4e1;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70vw;
  height: 55vw;
  overflow-y: scroll;
  z-index : 10000;
}


@media(max-width : 768px){
.popup {
  width: 90vw;
  height: 100%;
}
.popup2 {
  width: 90vw;
  height: 100%;
}
}
/* チェックボックスの初期設定 */
#popup-on{
  display: none;
}
#popup-on2{
  display: none;
}

/* チェックされたらポップアップウインドウを開く */
#popup-on:checked + .popup{
  display: block;
}
#popup-on2:checked + .popup2{
  display: block;
}


/* 閉じるアイコン（右上） */
.icon-close{
  background: #e9e4e1;
  color: #123c29;
  font-size: 30px;
  padding: 0 10px;
  position: absolute;
  right: 0;
}


/* 閉じるボタン */

.btn-close{
  display : block;
  background: #e9e4e1;
  border-radius: 10px;
  color: #123c29;
  padding: 10px;
  cursor: pointer;
  margin: 10px auto;
  width: 95%;
  text-align: center;
}

/* 開くボタン */
.btn-open{
  display :block;
  background: #fff;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  margin: 10px auto;
  width: 95%;
  text-align: center;
}

/* ポップアップの内容 */
.popup-content{
  margin: 40px auto 40px auto;
  width: 90%;
}


@media(max-width : 768px){
.popup-content{
    max-width: 960px;
    margin : 40px 20px;
}
}


/* コンタクト */
.text-center {
  margin : 0 auto;
  text-align : center;
  line-height : 50px;
}

.contact-form {
  display : block;
  width : 50px;
  height : 50px;
  background : #123c29;
  border : 1px solid #123c29;
  border-radius : 50%;
  vertical-align : center;
}

.contact-form {
  margin : 20px auto;
}
.mail-icon{
  font-size :20px;
  color : #fff;
}

.port-title{
    display : block;
    color: #000;
    line-height: 20px;
} 


.pop-detail {
   color: #000;
    line-height: 20px;
}
/*footer
---------------------------------------*/

.footer {
  width : 100%;
  height : 50px;
  background-color : #123c29 ;
  margin-top : 100px;
}

.copy {
  color : #fff;
  text-align : center;
  line-height: 50px;
}

.contact-footer {
  width : 100%;
  height : 50px;
  background-color : #123c29 ;
  position : absolute;
  bottom : 0;
}

/*contact-form
---------------------------------------*/

.btn {
  margin-bottom: 100px;
}

.portfolio-Detail {
  width : 70%;
  margin :0 auto;
  text-align:left;
}
@media (max-width : 768px){
  .portfolio-Detail {
  width : 100%;
}
}

.small {
  font-size : 10px;
  line-height : 15px;
}


.td {
  text-align :left;
}

.head {
  display : inline-block;
}

.portfolio-Detail {
  margin: 20px auto;
}

.port-head,.port-body {
  line-height: 20px;
}

@media(max-width : 768px){
.port-head,.port-body {
  text-align: center;
}

.port-body {
  margin-left: 50px;
font-size : 16px;
}

@media(max-width : 768px){
.port-body {
  margin-left: 0;
font-size : 11px;
}

@media(max-width : 768px){
.port-head {
  margin-left: 0;
font-size : 14px;
}
}

.port-link {
 font-size : 17px;
  text-decoration : underline;
  color: #494947;
}

.port-link a {
  text-decoration : underline;
  color: #494947;
}


/*コンタクトフォーム
------------------------------*/

.header_menu {
  margin : 20px auto 20px 45px;
}
.header_menu_ul {
  display: flex;
  flex-direction : row;
  align-items :center;
  justify-content : left;
}
.retop a {
  color : #123c29 ;
  text-decoration :underline;
}

.retop :hover{
 color  : #FAF3DD ;
}
.contactform_title {
  text-align : center;
  color :  #123c29;
}

.contact_form_text {
  text-align : center;
}

.logo img{
    width : 40px;
      margin-left : 20px;
}

 .sp-header{
     position : fixed;
     top : 0;
     width : 100%;
     height : 50px;
     z-index : 10000;
     background-color: #123c29;
}
@media (min-width: 76ppx) {
  .sp-header {
    display: none;
  }
}
 .header-flex {
  display : flex;
  align-items : center;
  justify-content : space-between;
  width :100%;
  height: 50px;
  padding: 0 20px;
  box-sizing : border-box;

 }
  .header-wrap{
   width : 100%;
   position : absolute;
   top : 0;
 }
 
 
 .header-image img {
  width : 100%;
  height : 80px;
  object-fit : none;
  z-index : 1000;
 }
 
 /*ハンバーガーメニュー*/
 .nav-button {
     font-size : 30px ;
     color : #FAF3DD;
     cursor : pointer;
     z-index : 10100;

 }
 
 
 
 /*spナビゲーション*/
 .sp-nav {
    position :fixed;
    top :0;
    height :50vh;
    width : 100%;
    background-color : #123c29;
    margin : 0;
    display : none;
    z-index : 600;
 }
 @media (min-width: 769px) {
  .sp-nav {
    display: none;
  }
}
 
 .sp-nav-list {
     position : absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     list-style : none;
     padding : 0 ;
     font-family : 'IBM Plex Sans' , sans-serif;
     font-size : 40px;
     font-weight : bold;
     text-align : center;
     padding-bottom : 100px;
}

.sp-nav-list a {
         color :   #FAF3DD;
     }

.sp-nav-list li {
         border-bottom : 1px solid   #FAF3DD;
         margin-top : 40px;
         font-size : 20px;
         padding-bottom: 5px;
     }

.header-top{
  color : #FFF;
  width : 50px;
  margin-left: 0 auto 0 20px;
}

.font-middle{
 font-size : 12px;
line-height : 20px;
}

@media(min-width :769px){
.font-middle {
font-size : 18px;
line-height : 26px;
}

.my-3{
font-size : 20px;
}

.section-subheading{
font-size : 25px;
}
@media(max-width : 768px){
  .section-subheading{
    font-size :  18px;
}
}

@media(min-width : 769px){
 .portfolio-wrap{
display : flex;
 }
}

@media(min-width : 769px){
 .pop-box {
   width : 50%;
 }
}
